.auth-for-container{
    width: 300px;
    min-height: 200px;
    border: 1px solid; color: rgb(179, 130, 16);
    margin: auto;
    padding: 15px;
    box-sizing: border-box;
   
}


.container{
    height: 800px;
}
.auth-for-container .text-input-label {
    display: block;
    margin-bottom: 5px;
}

.form-group{
    margin-bottom: 15px;

}
.auth-for-container .text-input
 

{
    height: 30px;
    width: 100%;
    display: block;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    border-color: rgb(156, 101, 20);
}



.reset-pass-link{
    display: block;
    text-align: center;
    font-size: 12px;
    margin-bottom: 15px;
    color: rgb(156, 101, 20);
   
}

.location { height: 30px;
    width: 100%;
    display: block;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    border-color: rgb(156, 101, 20);
    background-color: white;
    
   

}

.w-100{
    width: 100%;

}.mb-15{
    margin-bottom: 15px;
}

.btn{
display: block;
font-size: 16px;
height: 35px;
text-align:center ;
border: 0;
cursor: pointer;
width: 100%;
}

.btn-primary{
    background-color: orangered;
    color: white;
}

.btn-link{
    text-decoration: none;
    line-height: 35px;
}


.btn-link-hover{
    text-decoration: underline;
}



