.container{
    width: 300px;
    height: 500px;s
 background-color: rgb(243, 241, 237); color: black;
position: relative;

}
img{
    width: 300px;
    height: 250px;

}
.flex-box{
    display: flex;
    background-color: rgb(239, 230, 230);
    padding: 20px;
    flex-direction: row;
   justify-content: space-around;
   
}
   
.btn{
      
       width: 175px;
border-radius:  4px;
background-color: green;
}
   h1{
    color: rgb(83, 128, 17);
   }
   del{
    color: red;
   }
   .icon{
width: 50px;
height: 50px;
border-radius: 100%;
position: absolute;
top: 15px;
right: 15px;


   }